* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, NotoSansKR, sans-serif;
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 600;
  src: url("/fonts/NotoSansKR.ttf") format("truetype");
}
